html{
    body{
        div{
            max-width: 1380px;
            padding: 0px 50px;
            margin:auto;
            .search-bar{
                float: left;
                width: 100%;
                padding-left: 0;
                padding-bottom: 60px;
            }
            h2{
                width: 100%;
                border-bottom: solid 0.75px #cecece;
                margin: 80px 0px 60px 0px;
                padding-bottom: 20px;
            }
            .artist-list{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                .artist-item{
                    width: 32%;
                    height: 290px;
                    margin-bottom: 100px;
                    .artist-thumbnail{
                        width: 100%;
                        height: 100%;
                        margin-bottom: 16px;
                        background-color: #777777;
                    }
                    .artist-name{
                        color: #777777;
                        font-size: 14px;
                        margin-bottom: 6px;
                        .kor{
                            padding-right: 5px;
                        }
                        .eng{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}